<footer class="footer">
    <div class="footer-content">
      <p>&copy; 2024 PhotoSprout. All Rights Reserved.</p>
      <div class="footer-links">
        <a routerLink="/about">About Us</a>
        <a routerLink="/contacts">Contacts</a>
        <a routerLink="/privacy">Privacy Policy</a>
      </div>
      <div class="footer-social">
            <img src="fb-icon.png" alt="facebook" class="social-icon">
            <img src="ig-icon.png" alt="instagram" class="social-icon">
            <img src="reddit-icon.png" alt="reddit" class="social-icon">
      </div>
    </div>
  </footer>