.catalog-grid {
  flex:1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.catalog {
  min-height: 65%;
  padding: 2rem;
}

.catalog h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
