.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../../../assets/images/landscape.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: black;
  padding: 2rem;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-buttons .btn {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: rgb(97, 96, 96);
  border: 2px solid black;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.hero-buttons .btn:hover {
  background-color: transparent;
  color: rgb(0, 0, 0);
}

.about-section {
  margin-top: 5rem;
  text-align: center;
  background-color: transparent;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: left;
  margin-bottom: 100px;
  background-color:rgba(0, 0, 0, 0.4)
}

.about-content p {
  font-size: 1.3rem;
  font-weight: normal; 
  color: #d6d4d4;
  line-height: 1.8;
  max-width: 600px;
  padding: 5rem;
}

.about-image {
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 5rem;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.5rem; 
  }

  .hero-content p {
    font-size: 1.2rem;
  }

  .hero-buttons .btn {
    font-size: 1rem;
  }

  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    max-width: 100%;
    margin-top: 1rem;
  }
}
