.privacy-policy-container {
  min-height: 60%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .privacy-policy-container h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #000000;
  }
  
  .privacy-policy-container h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #000000;
  }
  
  .privacy-policy-container p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 10px 0;
  }
  